:root {
  --primary: #093870; /* Dark Blue */
  --secondaryCart: #16466d; /* Light Blue */
  --tertiary: #b12704;
  --light: #fafafa;
  --cartMid: #dadff5;
  --dark: #272f32;
  --error: rgb(130, 1, 228);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}
/* Cart container */
.cart {
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  right: 0;
  width: 300px; /* Adjust the width as needed */
  max-height: 80vh; /* Adjust the max height as needed */
  background-color: var(--cartMid);
  overflow: auto;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  transition: transform 0.3s ease;
}

/* Cart open */
.cart.cart-open {
  transform: translateX(0);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--secondaryCart);
  margin-bottom: 1rem;
}

/* Close button */
.close {
  cursor: pointer;
  color: var(--secondaryCart);
  font-size: 1.2rem;
}
.close:hover {
  text-decoration: underline;
}
/* Cart emoji */
.cart-closed::before {
  content: "\1F6D2";
  font-size: 2rem;
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  padding-top: 100px; /* Location of the box */
  top: 0;
  right: 0;
  width: 350px; /* Adjust the width as needed */  

  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--secondaryCart);
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  transition: transform 0.3s ease;
}